.aboutmb {
    background: #fff;
}

.about-intro {
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    line-height: 34px;
    padding: 50px 50px 0px 50px;
}

.cent {
    text-align: center;
    margin-top: -10px;
    margin-bottom: 40px;
}

.section1 {
    height: 421px;
    background: #82368C;
}

.section2 {
    background: #82368C;
    padding-bottom: 50px;
}

.section1 .howitworks {
    width: 300px;
    margin-left: -150px;
    left: 50%;
    position: absolute;
    margin-top: 50px;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    color: #ffde00;
    font-family: 'Raleway', sans-serif;
}

.third-cent {
    width: 50px;
    left: 50%;
    margin-left: -25px;
    position: relative;
}

.numbersrow {
    padding-top: 125px;
}

.third-text {
    padding: 10px 50px;
    color: #fff;
    line-height: 30px;
    font-size: 20px;
    font-weight: 200;
    text-align: center;
}

.arr1 {
    width: 50px;
    left: 33%;
    margin-left: -25px;
    position: relative;
}

.arr2 {
    width: 50px;
    left: 66%;
    margin-left: -25px;
    position: relative;
}

.arrdiv {
    top: -120px;
    position: relative;
}

.biggerc {
    width: 80px;
    margin-left: -40px;
}

.smallr {
    font-weight: 200;
    font-size: 15px;
    text-align: center;
    line-height: 20px;
}

.third-title {
    color: #ffde00;
    text-align: center;
    padding: 10px;
    padding-top: 30px;
    font-size: 30px;
}

.startr {
    width: 150px;
    margin-left: -95px;
    left: 50%;
    bottom: 40px;
    position: relative;
}


.hiddenform{
    height: 0px;
    width: 300px;
    margin-left:320px;
}

.hiddenform form{
    display: none;
}

.hiddenform form input#username, .hiddenform form input#password {
    width: 100%;
    height:40px;
    font-size: 40px;
}

.whitewrapper {
    background: #fff;
    height: 340px;
    text-align: center;
    padding-top: 40px; 
    font-family: font-family: 'Raleway', sans-serif;
    font-size: 30px;
    line-height: 40px;
}

.picrow {
    padding-top: 50px;
}

.whitewrapper img {
    width: 300px;
    display: inline-block;
    margin-bottom: 30px;
}

.whitewrapper .bigcta {
    margin-top: 10px;
}
