body {

}

.navbar-inverse .navbar-inner {
    border-bottom-color: #fff;
}

.about-intro {
    font-family: 'Raleway', sans-serif;
    margin-top: 100px;
    font-size: 22px;
    line-height: 34px;
}

.cent {
    text-align: center;
    margin-top: 30px;
}

.section1 {
    height: 421px;
}

.section2 {
    height: 421px;
    margin-top: -80px;
}

.section1 .howitworks {
    width: 300px;
    margin-left: -150px;
    left: 50%;
    position: absolute;
    margin-top: 50px;
}

.third-cent {
    width: 50px;
    left: 50%;
    margin-left: -25px;
    position: relative;
}

.numbersrow {
    padding-top: 125px;
}

.third-text {
    padding: 10px 50px;
    color: #fff;
    line-height: 30px;
    font-size: 20px;
    font-weight: 200;
}

.arr1 {
    width: 50px;
    left: 33%;
    margin-left: -25px;
    position: relative;
}

.arr2 {
    width: 50px;
    left: 66%;
    margin-left: -25px;
    position: relative;
}

.arrdiv {
    top: -120px;
    position: relative;
}

.biggerc {
    width: 80px;
    margin-left: -40px;
}

.smallr {
    font-weight: 200;
    font-size: 15px;
    text-align: center;
    line-height: 20px;
}

.third-title {
    color: #f0ad60;
    text-align: center;
    padding: 10px;
}

.startr {
    width: 150px;
    margin-left: -95px;
    left: 50%;
    bottom: 40px;
    position: relative;
}


.hiddenform{
    height: 0px;
    width: 300px;
    margin-left:320px;
}

.hiddenform form{
    display: none;
}

.hiddenform form input#username, .hiddenform form input#password {
    width: 100%;
    height:40px;
    font-size: 40px;
}

.greywrapper {
    background: #e5e5e4;
}
