body {
    font-family: 'Muli', sans-serif;
    background-color: #29313D;
    font-size: 150%;
}

#addtask {
    width:70%;
    color:grey;
}

.addtask {
    float:right;   
}

.addtask > input {
    width:100%;
}

.navcontainer {
    padding: 10px;    
}

.navbar {
    margin-bottom: 0;
}

.mainbox {
	padding: 20px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.task {
	background-color: #fff;
	margin: 20px;
    height: 40px;
    padding: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.todotext {
    height:40px;
    float: left;
}

.todotext p {
    font-size: 20px;
    vertical-align: middle;
    line-height: 40px;
}

.posttask {
	background-color: blue;
    margin: 20px;
    height: 40px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background: rgba(0,0,0, 0.4)
}

.posttask p {
    font-size: 20px;
    vertical-align: middle;
    line-height: 40px;
    margin-left: 20px;
}

.navbar-inverse .navbar-inner {
    background: #fff;
}

.btn-navbar {
    color: #000;
}

.logo {
    height: 50px;
}

.body {
    background: #000327;
}

.list-container {
    background: #e5e5e4;
    margin-top: 100px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin-bottom: 40px;
}

.checkbox {
    height: 40px;
    width: 40px;
    border-right: 1px dashed #e5e5e4;
    float: left;
    margin-right: 20px;
    padding-left: 0px;
    padding-right: 10px;
}

.checkbox-inner {
    height: 20px;
    width: 20px;
    margin: 8px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background: #fff;
    border: 2px solid #e5e5e4;
}

.perkfrom {
    float:right;
}

.perkfrom p {
    font-size: 20px;
    vertical-align: middle;
    line-height: 40px;
    color: blue;
    color: #82368C;
    float: left;
}

.roundpic {
    height: 40px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    margin-left: 10px;
    margin-right: 5px;
}

.date {
    float: right;
}

.date p {
    font-size: 20px;
    vertical-align: middle;
    line-height: 40px;
    color: red;
    margin-right: 10px;
}

p.name {
    font-size: 20px;
    vertical-align: middle;
    line-height: 40px;
    margin-right: 20px;
    color: #29313D;
    float: left;
}

.mainbox.landing {
    height: 565px;
}

.landingimg {
    width: 300px;
}

.leftlanding {
    margin-top: 60px;
    margin-left: 40px;
    float: left;
}

.subtitle {
    margin-top: 30px;
    font-size: 40px;
}

.subtitle2 {
    margin-top: 140px;
    font-size: 40px;
    line-height: 50px;
}

span.purple {
    color: #82368C;
}

.landing-btn {
    background: #82368C;
    height: 60px;
    padding: 10px;
    width: 280px;
    float: left;
    margin-top: 400px;
    margin-left: 74px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.landing-btn p {
    color: #fff;
    line-height: 50px;
    font-size: 50px;
    text-align: center;
}

span.boldhash {
    font-weight: bold;
}
