body {
    font-family: 'Pathway Gothic One', sans-serif;
    text-shadow: none !important;
    background-color: #29313D;
    font-size: 150%;
}

.navcontainer {
    padding: 10px;    
}

.navbar {
    margin-bottom: 0;
}

.mainbox {
	padding: 20px;
}

.task {
	background-color: red;
	margin: 20px;
    height: 40px;
    padding: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.todotext {
    height:40px;
}

.posttask {
	background-color: blue;
}

.navbar-inverse .navbar-inner {
    background: #fff;
}

.btn-navbar {
    color: #000;
}

.logo {
    height: 50px;
}

.body {
    background: #000327;
}

.list-container {
    background: #c2c2c2;
    margin-top: 100px;
}
