.navbar {
    margin-bottom:
}

.mainbox {
	padding: 20px;
}

.task {
	background-color: red;
	margin: 20px;
}

.posttask {
	background-color: blue;
}

.navbar-inverse .navbar-inner {
    background: #fff;
}

.btn-navbar {
    color: #000;
}

.logo {
    height: 50px;
}

.body {
    background: #000327;
}

.list-container {
    background: #c2c2c2;
    margin-top: 100px;
}
