%from config import BASE_URL_PATH_RES
%rebase template title="#Done"

%include header_unlogged
    
    <div class="container">
    <div class="row-fluid list-container">

  <div class="span12 mainbox  aboutmb">

    <div class="about-intro">Harness the incredible power of social accountability to keep yourself more focused than a pyromaniac with a magnifying glass, more punctual than a swiss watch and more productive than Betty Crocker racing against an oven timer. Spend more time doing the stuff you REALLY want do.
    </div>
    <div class="about-intro cent">...Get more out of every moment.</div>

    <div class="section1">
      <div class="howitworks">How it Works</div>
      <div class="row numbersrow">
        <div class="span4"><img class="third-cent" src="{{BASE_URL_PATH_RES}}images/no1-icon.png" /><div style="clear:both"></div><div class="third-text" >Create your to-do list and #done 'pushes' it to social media for you</div></div>
        <div class="span4"><img class="third-cent" src="{{BASE_URL_PATH_RES}}images/no2-icon.png" /><div style="clear:both"></div><div class="third-text" >Your friends leave you video, text and image perks, which you get as a reward when you're done</div></div>
        <div class="span4"><img class="third-cent" src="{{BASE_URL_PATH_RES}}images/no3-icon.png" /><div style="clear:both"></div><div class="third-text" >You complete the task (faster now that you're backed by your mates)... and enjoy the perks!</div></div>
        
      </div>
      
    </div>
    <div class="whitewrapper">
    <img src="{{BASE_URL_PATH_RES}}images/hashtagdonelogolarge.png" /> <br />
    The New Way To Get More Done...<br />
    Faster, Funner, Freer <br/>
    <a data-toggle="modal" class="btn btn-large btn-success bigcta" href="#signUpModal">Sign up</a>
    </div>
    <div class="section2" >
      <div class="row picrow">
        <div class="span4"><img class="third-cent biggerc" src="{{BASE_URL_PATH_RES}}images/Skater-Faster-white.png" /><div style="clear:both"></div><div class="third-title">Faster,</div><div class="third-text smallr" >Because how fast would you take out the garbage if you had a custom made meme from your best mate waiting for you upon completion?</div></div>
        <div class="span4"><img class="third-cent biggerc" src="{{BASE_URL_PATH_RES}}images/Bed-Funner-white.png" /><div style="clear:both"></div><div class="third-title">Funner,</div><div class="third-text smallr" >Because imagine filing receipts... with a cheeky message from your better half to reward you when you're done. Receipt filing a little more motivating now?</div></div>
        <div class="span4"><img class="third-cent biggerc" src="{{BASE_URL_PATH_RES}}images/Swing-Freer-white.png" /><div style="clear:both"></div><div class="third-title">Freer,</div><div class="third-text smallr" >Because, well, YOU tell US... when you've zoomed through all your tasks for
the day in record time.</div></div>
      </div>
    </div>


</div>
</div>
</div>

    </div> <!-- /container -->
