%from config import BASE_URL_PATH_RES
%rebase template title="#done"

%include header_unlogged
    <link href="{{BASE_URL_PATH_RES}}css/about.css" rel="stylesheet">


    <div class="container">

    <div class="about-intro">Harness the incredible power of social accountability to keep yourself more focused than a pyromaniac with a magnifying glass, more punctual than a swiss watch and more productive than Betty Crocker racing against an oven timer. Spend more time doing the stuff you REALLY want do.
    </div>
    <div class="about-intro cent">...Get more out of every moment.</div>

    <div class="section1" style="background-image: url('{{BASE_URL_PATH_RES}}images/Section1.png')">
      <img class="howitworks" src="{{BASE_URL_PATH_RES}}images/HowItWorksBanner.png" />
      <div class="row numbersrow">
        <div class="span4"><img class="third-cent" src="{{BASE_URL_PATH_RES}}images/Number1.png" /><div style="clear:both"></div><div class="third-text" >Create your to-do list and #done 'pushes' it to social media for you</div></div>
        <div class="span4"><img class="third-cent" src="{{BASE_URL_PATH_RES}}images/Number2.png" /><div style="clear:both"></div><div class="third-text" >Your friends leave you video, text and image perks, which you get as a reward when you're done</div></div>
        <div class="span4"><img class="third-cent" src="{{BASE_URL_PATH_RES}}images/Number3.png" /><div style="clear:both"></div><div class="third-text" >You complete the task (faster now that you're backed by your mates)... and enjoy the perks!</div></div>
        <div class="arrdiv"><img class="arr1" src="{{BASE_URL_PATH_RES}}images/ArrowRight.png" /><img class="arr2" src="{{BASE_URL_PATH_RES}}images/ArrowRight.png" /></div>
      </div>
      <div class="startr btn btn-large"> Click to Start </div>
    </div>
    <div class="greywrapper">
    <div class="hiddenform">
  

  <form method="post" action="">
      <label for="username">User name:</label><input id="username" name="username" type="text" value="">
      <label for="password">Password:</label><input id="password" name="password" type="password" value="">
    
    
      <input type="submit" class="btn btn-large btn-success">
    
  </form>

    </div>
    </div>
    <div class="section2"  style="background-image: url('{{BASE_URL_PATH_RES}}images/Section2.png')">
      <div class="row numbersrow">
        <div class="span4"><img class="third-cent biggerc" src="{{BASE_URL_PATH_RES}}images/Skater-Faster.png" /><div style="clear:both"></div><div class="third-title">Faster...</div><div class="third-text smallr" >Because how fast would you take out the garbage if you had a custom made meme from your best mate waiting for you upon completion?</div></div>
        <div class="span4"><img class="third-cent biggerc" src="{{BASE_URL_PATH_RES}}images/Bed-Funner.png" /><div style="clear:both"></div><div class="third-title">Funner...</div><div class="third-text smallr" >Because imagine filing receipts... with a cheeky message from your better half to reward you when you're done. Receipt filing a little more motivating now?</div></div>
        <div class="span4"><img class="third-cent biggerc" src="{{BASE_URL_PATH_RES}}images/Swing-Freer.png" /><div style="clear:both"></div><div class="third-title">Freer...</div><div class="third-text smallr" >Because, well, YOU tell US... when you've zoomed through all your tasks for
the day in record time.</div></div>
      </div>
    </div>
    
     
</div>


      <footer>

      </footer>

    </div> <!-- /container -->
