<footer class="main-footer">
  <div class="row-fluid">
    <div class="span4">
      <p class="footer-top">LEARN MORE</p>
      <p class="footer-bottom">ABOUT</p>
    </div>
    <div class="span4">
      <p class="footer-top">FOLLOW US</p>
      <p class="footer-bottom">TWITTER</p>
    </div>
    <div class="span4">
      <p class="footer-top">GET IN TOUCH</p>
      <p class="footer-bottom">CONTACT</p>
  </div>
  <!--<hr class="row-fluid hor-line">-->
  <p class="footer-top">&#169; 2013 Working Title Inc. MVP for Hackagong 2013</p>


</footer>

