%from config import BASE_URL_PATH_RES
%rebase template title="#Done"

<div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a href="/" ><img class='logo' src="{{BASE_URL_PATH_RES}}images/hashtagdonelogolarge.png" alt="#done" /></a>
          <div class="nav-collapse collapse pull-right">
            <ul class="nav">
              <li class="active unlogged-links header-links"><a data-toggle="modal" href="#signUpModal">Sign up</a></li>
              <li class=" unlogged-links header-links"><a data-toggle="modal" href="#loginModal">Login</a></li>
            </ul>
            </div><!--/.nav-collapse -->
        </div>
      </div>
</div>
