%from config import BASE_URL_PATH_RES, BASE_URL_PATH
%rebase template title="#Done"
%from utils import existing_web_session

%ws = existing_web_session()
<div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
         <a href="/" ><img class='logo' src="{{BASE_URL_PATH_RES}}images/hashtagdonelogolarge.png" alt="#done" /></a>
          <div class="nav-collapse collapse pull-right">
            <ul class="nav">

              <li class="header-links active"><a href="lists">Work</a></li>
              <li class="header-links"><a href="#perks">Perks</a></li>
              <li class="profile-link header-links"><a href="{{BASE_URL_PATH}}profile"><img class="roundpic" src="{{BASE_URL_PATH_RES}}images/user_profile_pictures/{{ws['profile_picture']}}" alt="me">Me</a></li>
            </ul>
            </div><!--/.nav-collapse -->
        </div>
      </div>
</div>
