%from config import BASE_URL_PATH_RES
%rebase template title="#done"

<div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <!-- <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button> -->
          <img class='logo' src="{{BASE_URL_PATH_RES}}images/hashtagdonelogolarge.png" alt="#done" />
          <div class="nav-collapse collapse pull-right">
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
            </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        %if defined('message'):
          <h1>{{message}}</h1>
        %end

        %if defined('form'):
          <form method="post" action="">
            {{!form.username.label}}{{!form.username}}
            {{!form.password.label}}{{!form.password}}
            <input type='submit'></input>
          </form>
        %end
        <p>
        <p><a href="#" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
      </div> -->

      <!-- Example row of columns -->
      <div class="row-fluid list-container">
  <div class="span12 mainbox">

    <div class="task">
      <div class="checkbox"></div>
      <div class="todotext" contenteditable=true ><p>Add a new task here</p></div>
      <div class="addtask btn btn-large btn-success"> Add Task </div>
    </div>

    <div class="task">
      <div class="checkbox"><input type="checkbox"/></div>
      <div class="todotext"><p>This is a task</p></div>
      <div class="date"><p>22.07.2013</p></div>
      <div class="perkfrom"><p>Perk from <img class="roundpic" src="{{BASE_URL_PATH_RES}}images/userimg.jpg" /></p><p class="name">Timothy</p></div>
    </div>
    <div class="task">
      <div class="checkbox"><input type="checkbox"/></div>
      <div class="todotext"><p>This is a task</p></div>
      <div class="date"><p>22.07.2013</p></div>
      <div class="perkfrom"><p>Perk from <img class="roundpic" src="{{BASE_URL_PATH_RES}}images/userimg.jpg" /></p><p class="name">Timothy</p></div></div>
  </div>
</div>


      <footer>

      </footer>

    </div> <!-- /container -->
