%from config import BASE_URL_PATH_RES
%rebase template title="#done"

%include header_unlogged

    <div class="container">
      <div class="row-fluid list-container">
  <div class="span12 mainbox landing" style="z-index:-1">

  <div class="bglayer" style="position:absolute; z-index:0; width:1200px; height:800px; background: url('{{BASE_URL_PATH_RES}}images/langbg0.png') no-repeat; background-position: -20px -20px">
    
    <div class="circle" style="background: url('{{BASE_URL_PATH_RES}}images/langbg1.png') no-repeat; background-position: right bottom"></div>
    
  </div>

  <div class="upmask" style="position:absolute; z-index:5">
    <div class="leftlanding"> 
        <img class="landingimg" src="{{BASE_URL_PATH_RES}}images/hashtagdonelogo.png" alt="#done" />
        <p class="subtitle">The Social To-Do List</p>
        <p class="subtitle2">CROWD-SOURCE <br/> <span class="purple">MOTIVATION</span> FROM <br/> <span class="purple">FRIENDS</span> &amp; <span class="purple">LOVED ONES</span></p>
    </div>
    <div class="landing-btn"><p>get it <span class="boldhash">#done</span></p></div>  
  </div>
</div>


      <footer>

      </footer>

    </div>
  
     <!-- /container -->
