<!-- Modal -->
<div id="loginModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Login</h3>
  </div>
  <div class="modal-body">
    %if defined('form'):
      <form method="post" action="">
        {{!form.username.label}}{{!form.username}}
        {{!form.password.label}}{{!form.password}}
        <input type='submit'></input>
      </form>
    %end
  </div>
</div>
