%from config import BASE_URL_PATH_RES
%rebase template title="#done"

%include header_logged
    <div class="container">

      <div class="row-fluid list-container">
  <div class="span12 mainbox landing" >
  <div>
  <img class="userimg" src="{{BASE_URL_PATH_RES}}images/userimg.jpg" alt="#done" />
  </div>
  <div id="user_name">Timothy Turner</div>
  <div style="clear:both"></div>
  <div class="profile-third"><span class="numb">12</span><br/><span class="numbitem">To do lists</span><br/><a href="/lists" class="numbview">View</a></div>
  <div class="profile-third"><span class="numb">7</span><br/><span class="numbitem">Things to do</span><br/><a href="/addtask" class="numbview">View</a></div>
  <div class="profile-third"><span class="numb">18</span><br/><span class="numbitem">Perks earned</span><br/><a href="/perks" class="numbview">View</a></div>


</div>


      <footer>

      </footer>

    </div> <!-- /container -->
