%from config import BASE_URL_PATH_RES
%rebase template title="#done"

%include header_logged

    <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <!-- <div class="hero-unit">
        <h1>Hello, world!</h1>
        <p>This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
        <p><a href="#" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
      </div> -->

      <!-- Example row of columns -->
      <div class="row-fluid list-container">
  <div class="span12 mainbox landing" >
  <div>
  <img class="userimg" src="{{BASE_URL_PATH_RES}}images/userimg.jpg" alt="#done" />
  </div>
  <div id="user_name">User Name</div>
  <div style="clear:both"></div>
  <div class="profile-third"><span class="numb">12</span><br/><span class="numbitem">To do lists</span><br/><span class="numbview">View</span></div>
  <div class="profile-third"><span class="numb">7</span><br/><span class="numbitem">Things to do</span><br/><span class="numbview">View</span></div>
  <div class="profile-third"><span class="numb">18</span><br/><span class="numbitem">Perks earned</span><br/><span class="numbview">View</span></div>
  

</div>


      <footer>

      </footer>

    </div> <!-- /container -->
