<!-- Modal -->
<div id="signUpModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Register</h3>
  </div>
  %if defined('form'):
  <form id="reg_form" method="post" action="">
    <div class="modal-body">
      {{!form.username.label}}{{!form.username}}
      {{!form.password.label}}{{!form.password}}
    </div>
    <div class="modal-footer">
    <a href="#" class="btn btn-large" data-dismiss="modal" aria-hidden="true">Cancel</a>
      <input type='submit' class="btn btn-large btn-success" value="Sign up!"></input>
    </div>
  </form>
  %end
</div>

<script type="text/javascript" charset="utf-8">
$('#reg_form').submit(function(e) {
  e.preventDefault();
  var data = $(this).serializeArray();
  $.ajax({
    type: "POST",
    url: "/register",
    data: data,
    success: function(output) {
      console.log(output);
      if (output == 'success') {
        window.location = '';
      } else {
        alert('unable to log in');
      }
    },
    error: function(output) {
      console.log(output);
    },
  });
});
</script>
