<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
%from config import BASE_URL_PATH_RES
%setdefault('title','#todo')
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{title}}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <!-- Loading Bootstrap -->
        <link href="{{BASE_URL_PATH_RES}}bootstrap/css/bootstrap.css" rel="stylesheet">

        <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Pathway+Gothic+One' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Muli' rel='stylesheet' type='text/css'> 

        <!-- Loading Flat UI -->
        <link href="{{BASE_URL_PATH_RES}}css/flat-ui.css" rel="stylesheet">
        <link href="{{BASE_URL_PATH_RES}}css/userdefined.css" rel="stylesheet">
        <script type="text/javascript" src="{{BASE_URL_PATH_RES}}js/index.js"> </script>
        <link rel="shortcut icon" href="{{BASE_URL_PATH_RES}}images/favicon.ico">

        <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
        <!--[if lt IE 9]>
          <script src="js/html5shiv.js"></script>
        <![endif]-->

    </head>
    <body>


        <!-- Rebase here -->
        %include
        

        <footer>
        </footer>

        <!-- JS HERE -->
        <script src="{{BASE_URL_PATH_RES}}js/jquery-1.8.3.min.js"></script>
        <script src="{{BASE_URL_PATH_RES}}js/jquery-ui-1.10.3.custom.min.js"></script>
        <script src="{{BASE_URL_PATH_RES}}js/jquery.ui.touch-punch.min.js"></script>
        <script src="{{BASE_URL_PATH_RES}}js/bootstrap.min.js"></script>
        <script src="{{BASE_URL_PATH_RES}}js/bootstrap-select.js"></script>
        <script src="{{BASE_URL_PATH_RES}}js/bootstrap-switch.js"></script>
        <script src="{{BASE_URL_PATH_RES}}js/flatui-checkbox.js"></script>
        <script src="{{BASE_URL_PATH_RES}}js/flatui-radio.js"></script>
        <script src="{{BASE_URL_PATH_RES}}js/jquery.tagsinput.js"></script>
        <script src="{{BASE_URL_PATH_RES}}js/jquery.placeholder.js"></script>
        <script src="{{BASE_URL_PATH_RES}}js/jquery.stacktable.js"></script>
        <script src="http://vjs.zencdn.net/c/video.js"></script>
        <script src="{{BASE_URL_PATH_RES}}js/application.js"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src='//www.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
    </body>
</html>
